<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/main.min.js"></script>
	<link rel="stylesheet" href="css/main.min.css">
</head>
<body>
	  <div class="container-fluid">
	    <div class="row">
	        <div class="col-xs-8 col-xs-offset-2">
	            <nav class="navbar navbar-default" style="border:none;background-color:#fff">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" style="color: #31b0d5" href="#">知乎</a>
                        </div>

                        <ul class="nav navbar-nav">
                            <li><a href="#">首页</a></li>
                            <li><a href="#">发现</a></li>
                            <li><a href="#">话题</a></li>
                        </ul>   
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-info">提问</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="glyphicon glyphicon-bell"></a></li>
                            <li><a class="glyphicon glyphicon-user"></a></li>
                            <li><a class="glyphicon glyphicon-picture"></a></li>
                        </ul>   
                    </div>
                </nav>
	        </div>
	    </div>
	    <div class="row" style="border-top: 1px solid #ddd;margin-top: -20px"></div>
	    <div class="row">
	        <div class="col-xs-8 col-xs-offset-2" style="color: #777">
	            <ul class="labels">
	                <li>音乐</li>
	                <li>电子音乐</li>
	                <li>社会心里学</li>
	            </ul>
	            <ul class="rightlabel pull-right">
	                <li>
	                    <p>被浏览</p>
	                    <span>507</span>
	                </li>
	                <li>
	                    <p>关注者</p>
	                    <span>4</span>
	                </li>
	            </ul>
	            <div style="width:100%" class="pull-left combody">
	                <h4>为什么我听Pneumatic tokyo停不下来？</h4>
	                <p>一遍又一遍。。。。哎</p>
	                <p>分享Env的单曲《Pneumatic tokyo》 music.163.com/song/3393..(来自@网易云音乐)</p>
	            </div>
	            <div class="pull-left iconbody">
	                <ul>
	                    <li style="margin-left:10px">
	                        <span class="glyphicon glyphicon-flag"></span>
	                        <span>追加评论</span>
	                    </li>
	                    <li>
	                        <span class="glyphicon glyphicon-send"></span>
	                        <span>分享</span>
	                    </li>
	                     <li>
	                        <span class="glyphicon glyphicon-pencil"></span>
	                        <span>邀请回答</span>
	                    </li>
	                    <li>
	                        <span class="glyphicon glyphicon-exclamation-sign"></span>
	                        <span>举报</span>
	                    </li>
	                    <li>
	                     <span>...</span>
	                    </li>
	            </ul>
	            <button type="button" class="specs btn btn-default pull-right"><span class="glyphicon glyphicon-pencil" style="color: #31b0d5"></span> 写回答</button>
	            <button type="button" class="btn btn-info pull-right">关注问题</button>
	        </div>
	        </div>
	    </div>
	    <div class="row" style="border-top: 1px solid #ddd;margin-top: 10px"></div>

	  </div>
</body>
</html>